extend ./framework.jade

block title
  | Templates::Layout

block append stylesheet
  link(rel='stylesheet', href='assets/css/open-sans.css')
  link(rel='stylesheet', href='assets/css/font-awesome.min.css')
  link(rel='stylesheet', href='assets/css/common.css')

block content

block footer
  include ./footer.jade
