@import 'common.layout.styl'

body
	background-color: #fff

#wrapper
	color: #1F1F1A
	background-color: #fff

.afe-sans-serif
	font-sans-serif()

.afe-serif
	font-serif()

@import 'components/footer.styl'
